<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">🏥 ALMA Medical</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="clientes">
                <span class="bi bi-people-fill" aria-hidden="true"></span> Clientes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productos">
                <span class="bi bi-box-fill" aria-hidden="true"></span> Productos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="turnos">
                <span class="bi bi-calendar-check-fill" aria-hidden="true"></span> Turnos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ventas">
                <span class="bi bi-cart-fill" aria-hidden="true"></span> Ventas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gastos">
                <span class="bi bi-receipt" aria-hidden="true"></span> Gastos
            </NavLink>
        </div>
    </nav>
</div>